<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Matches</title>
	<script src="scripts/changeDate.js" defer></script>
	<%- include("partials/adminHead") %>
</head>
<body>
	<%- include("partials/nav") %>
	<a href="/addMatch" class="floatAddMatch">Add match</a>
	<main>
		<h1>Matches</h1>
		<article class="matchesContainer">
			<% matches.forEach(function(match) { %>
				<a href="/admin/editMatch/<%= match.id %>">
					<section>
						<h2><%= match.team1 %> <%= match.team1Score %> - <%= match.team2Score %> <%= match.team2 %></h2>
						<span class="dateTime"><%= match.dateTime %></span>
						<span>Comments: <%= match.comments.length %></span>
					</section>
				</a>
			<% }) %>
		</article>
	</main>
	<form action="/adminSignout">
		<button type="submit" class="signoutBtn">Sign out</button>
	</form>
</body>
</html>