<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Edit match</title>
		<%- include("partials/adminHead") %>
	</head>
	<body>
		<%- include("partials/nav") %>
		<a href="/addMatch" class="floatAddMatch">Add match</a>
		<form action="/removeMatch" method="POST">
			<input type="hidden" value="<%= match.id %>" name="matchId">
			<button type="submit" class="removeMatch">Delete match</button>
		</form>
		<main>
			<a href="/dashboard">Back</a>
			<h1>Edit match</h1>
			<form action="/editMatch" method="POST" class="matchForm">
				<input type="hidden" name="matchId" value="<%= match.id %>">
				<label for="dateTime">Date and time</label>
				<input type="datetime-local" name="dateTime" id="dateTime" value="<%= match.dateTime %>" required>
				<fieldset> <!-- Nesting fieldsets is acceptable https://html.spec.whatwg.org/multipage/form-elements.html#the-fieldset-element -->
				<fieldset>
					<div>
						<label for="team1-score">Team 1 score</label>
						<input type="number" name="team1Score" min="0" step="1" id="team1-score" class="teamScore" value="<%= match.team1Score %>" required>	
					</div>
					<div>
						<label for="team1">Team 1</label>
						<select name="team1" id="team1" value="<%= match.team1 %>" required>
							<option value="Real Madrid">Real Madrid</option>
							<option value="FC Barcelona">FC Barcelona</option>
						</select>
					</div>
				</fieldset>
				<span class="scoreDivider">-</span>
				<fieldset>
					<div>
						<label for="team2-score">Team 2 score</label>
						<input type="number" name="team2Score" min="0" step="1" id="team2-score" class="teamScore" value="<%= match.team2Score %>" required>
					</div>
					<div>
						<label for="team2">Team 2</label>
						<select name="team2" id="team2" value="<%= match.team2 %>" required>
							<option value="Real Madrid" selected="<%= match.team2 === 'Real Madrid' ? 'selected' : '' %>" >Real Madrid</option>
							<option value="FC Barcelona" selected="<%= match.team2 === 'FC Barcelona' ? 'selected' : '' %>">FC Barcelona</option>
						</select>
					</div>
				</fieldset>
			</fieldset>
			<label for="match-description">Description</label>
			<textarea name="matchDescription" id="match-description" cols="30" rows="10" value="<%= match.matchDescription %>"></textarea>
			<button type="submit">Save</button>
		</form>
		<article class="comments">
			<% match.comments.forEach(function(comment) { %>
			<section class="comment">
				<div>
					<div class="userAvatar"></div>
				</div>
				<div>
					<p class="commentUser"><span class="commentLabel">User: </span><%= comment.userName %> <span class="commentDate"><%= comment.datePosted %></span></p>
					<p><span class="commentLabel">Comment: </span><%= comment.commentText %></p>
					<form action="/removeComment" method="POST">
						<input type="hidden" value="<%= match.id %>" name="matchId">
						<input type="hidden" value="<%= comment.id %>" name="commentId">
						<button type="submit" class="commentRemove">Remove</button>
					</form>
				</div>
			</section>
			<% }) %>
		</article>
	</main>
</body>
</html>